---
import Layout from '@/layouts/Layout.astro';
import Card from '@/components/Card.astro';
---

<Layout title='Simple Barebones Astro + Tailwind Starter Template'>
	<main class='flex w-full justify-center'>
		<h1 class='text-4xl text-white'>Bare Bones Astro + Tailwind Starter</h1>
	</main>
</Layout>

<style></style>
