---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Simple Barebones Astro + Tailwind Starter Template">
	<main class="relative flex w-full flex-col justify-center pt-10 text-center">
		<div
			class="flex-center h-[600px] bg-[url('https://picsum.photos/id/237/200/300')] bg-contain"
		>
			<h1 class="glass flex-center h-40 px-4 text-white">
				Bare Bones Astro + Tailwind Starter
			</h1>
		</div>
	</main>
</Layout>
